@media screen and (max-width: 1056px) {
	.bx--col {
		flex-direction: column;
	}
}

@media screen and (min-width: 1056px) {
	.bx--col {
		flex-direction: row;
	}
}

.bx--accordion__content {
	padding-right: 0%;
}
